{% extends 'layout.html.twig' %}

{% block title %}Quiz - Choix du thème {% endblock %}

{% block content %}

<form method="post" action="" class="selectTheme">
    <label for="theme">Choisir un thème</label>
    <select name="theme" id="theme">
        <option value="1" name="theme1">Thème 1</option>
        <option value="2" name="theme2">Thème 2</option>
        <option value="3" name="theme3">Thème 3</option>
        <option value="4" name="theme4">Thème 4</option>
    </select>
    <button class = "jolibutton" type="button">Envoyer</button>
    
</form>

{% endblock %}