{% extends 'Layout/layout.html.twig' %}

{% block content %}

<!-- Tests -->
{# 
{% set question = 'Question' %}
{% set answers = ['Faux', 'Faux', 'Faux', 'Vrai'] %} #}

{% for question in questions %}
    <div class="question">
        <p><strong>{{question.value}}</strong></p>
    </div> 
    {% for answer in question.answers %}
<div class="answers">
    <button class="answerbutton">
        <p>{{answer.value}}</p>
    </button>
</div>
{% endfor %}
{% endfor %}

{% endblock %}