{% extends 'Layout/column.html.twig' %}

{% block content %}

    <div class="wholemonster">

    <img src="assets/images/cute-monster.png" alt="cute monster">

        <div class="infos">
        <h1>Votre compte</h1>
        <h3>Pseudo</h3>
        <p>{{user.name}}</p>

        <h3>Email</h3>
        <p>{{user.email}}</p>

        <h3>Score</h3>
        <p>{{user.score}}</p>
        </div>

        
    </div>
    <div class="logout">
        <a href="logout"><button class="btn btn-primary">Se déconnecter</button></a>
    </div>
    
{%  endblock %}
